In [21]:
%pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\users\tngas\appdata\roaming\python\python311\site-packages (2.30.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tngas\appdata\roaming\python\python311\site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tngas\appdata\roaming\python\python311\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tngas\appdata\roaming\python\python311\site-packages (from requests) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tngas\appdata\roaming\python\python311\site-packages (from requests) (2023.5.7)
Note: you may need to restart the kernel to use updated packages.

For this project, I want to create a model that predicts who the NBA MVP is for any given year. To do this, I'm gathering data from Basketball-reference.com, and looking at the data from 1991 to 2022. I am gathering who the NBA MVP is for each year, the full stats for each player in the league, and the stats and standings for each team.

In [22]:
# Establishing the range of years that we are interested in
years = list(range(1991, 2023))

In [23]:
# This is the URL pattern for the MVP pages
url_pattern = "https://www.basketball-reference.com/awards/awards_{}.html"

In [24]:
import requests

Here I am going through and gathering who the MVP was for each year between 1991 and 2022, then saving the html in a local file.

In [25]:
# loop over years
for year in years:
    # construct the URL for the current year
    url = url_pattern.format(year)
    # make a GET request to the URL
    response = requests.get(url)
    # write the response to a file using UTF-8 encoding
    with open(f"C:/Users/Tngas/OneDrive/Documents/Python Projects/MVP Project/mvp/{year}.html", "w", encoding="utf-8") as f:
        f.write(response.text)

In [26]:
# Importing the Beautiful Soup Library
%pip install beautifulsoup4
from bs4 import BeautifulSoup

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in c:\users\tngas\appdata\roaming\python\python311\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\tngas\appdata\roaming\python\python311\site-packages (from beautifulsoup4) (2.4.1)
Note: you may need to restart the kernel to use updated packages.

With the downloaded html files, I need to remove some of the unnecessary elements of the table. I'm finding the 'tr' and removing it from the html file.

In [27]:
with open("C:/Users/Tngas/OneDrive/Documents/Python Projects/MVP Project/mvp/1991.html", encoding="iso-8859-2") as f:
    page = f.read()

soup = BeautifulSoup(page, 'html.parser')
# find the table row with class "over_header" (if it exists) and remove it
over_header_row = soup.find('tr', class_="over_header")
if over_header_row:
    over_header_row.decompose()

In [28]:
mvp_table = soup.find(id="mvp")

In [29]:
%pip install pandas
%pip install lxml
import pandas as pd
import lxml

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\tngas\appdata\roaming\python\python311\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tngas\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tngas\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tngas\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\tngas\appdata\roaming\python\python311\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\tngas\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\tngas\appdata\roaming\python\python311\site-packages (4.9.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
mvp_table = soup.find(id="mvp")
mvp_1991 = pd.read_html(str(mvp_table))[0]
print(mvp_1991)

In [31]:
# Doing the same as above, but with all the other years with this loop.
dfs =[]
for year in years:
    with open(f"C:/Users/Tngas/OneDrive/Documents/Python Projects/MVP Project/mvp/1991.html", encoding="iso-8859-2") as f:
        page = f.read()
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="over_header").decompose()
    mvp_table = soup.find(id="mvp")
    mvp= pd.read_html(str(mvp_table))[0]
    mvp["Year"] = year

    dfs.append(mvp)

In [ ]:
dfs

In [33]:
mvps = pd.concat(dfs)
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,37.1,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,37.7,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,37.3,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,40.3,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991

In [34]:
# Creating a csv file for the data
mvps.to_csv('MVPs.csv', index=False)

In [35]:
## Getting player stats for 1991
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

for year in years:
    url = player_stats_url.format(1991)
    
    data = requests.get(url)
    
    with open("C:/Users/Tngas/OneDrive/Documents/Python Projects/MVP Project/Player/1991.html", "w+") as f:
        f.write(data.text)

In [ ]:
%pip install selenium
import selenium

In [37]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options

options = Options()
options.add_argument("start-maximized")
options.binary_location = r'C:/Users/Tngas/AppData/Local/Vivaldi/Application/vivaldi.exe'
service = Service(executable_path=r'C:\Users\Tngas\Downloads\chromedriver_win32\chromedriver.exe')
driver = webdriver.Chrome(service=service, options=options)
driver.get('http://google.com/')

In [38]:
import time

In [39]:
year = 1991
url = player_stats_url.format(year)

driver.get(url)
driver.execute_script("window.scrollTo(1,100000)")
time.sleep(15)

html = driver.page_source

In [40]:
with open("player/{}.html".format(year), "w+", encoding="utf=8") as f:
    f.write(html)

In [41]:
for year in years:
    url = player_stats_url.format(year)
    driver.get(url)
    driver.execute_script("window.scrollTo(1,100000)")
    time.sleep(10)

    html = driver.page_source
    with open("player/{}.html".format(year), "w+", encoding="utf=8") as f:
        f.write(html)

In [42]:
dfs = []
for year in years:
    with open("player/{}.html".format(year), encoding="utf8") as f:
        page = f.read()

soup = BeautifulSoup(page, "html.parser")
soup.find('tr', class_="thead").decompose()
player_table = soup.find(id="per_game_stats")
player = pd.read_html(str(player_table))[0]
player["Year"] = year
dfs.append(player)

In [43]:
players = pd.concat(dfs)

In [ ]:
players

In [45]:
players.to_csv("players.csv")

In [46]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [50]:
for year in years:
    url = team_stats_url.format(year)

    data = requests.get(url)
    time.sleep(25)

    with open("C:/Users/Tngas/OneDrive/Documents/Python Projects/MVP Project/teams/{}.html".format(year), "w+", encoding="utf=8") as f:
        f.write(data.text)

In [51]:
dfs = []
for year in years:
    with open("teams/{}.html".format(year), encoding="iso-8859-2") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="thead").decompose()
    e_table = soup.find_all(id="divs_standings_E")[0]
    e_df = pd.read_html(str(e_table))[0]
    e_df["Year"] = year
    e_df["Team"] = e_df["Eastern Conference"]
    del e_df["Eastern Conference"]
    dfs.append(e_df)
    
    w_table = soup.find_all(id="divs_standings_W")[0]
    w_df = pd.read_html(str(w_table))[0]
    w_df["Year"] = year
    w_df["Team"] = w_df["Western Conference"]
    del w_df["Western Conference"]
    dfs.append(w_df)

    header = soup.find('tr', class_="thead")
    if header:
        header.decompose()
    else:
        print("Header not found for year {}".format(year))

In [52]:
teams = pd.concat(dfs)

In [53]:
teams.tail()

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
13  56  26  .683     —  115.6  109.9   5.37  2022     Memphis Grizzlies*
14  52  30  .634   4.0  108.0  104.7   3.12  2022      Dallas Mavericks*
15  36  46  .439  20.0  109.3  110.3  -0.84  2022  New Orleans Pelicans*
16  34  48  .415  22.0  113.2  113.0   0.02  2022      San Antonio Spurs
17  20  62  .244  36.0  109.7  118.2  -8.26  2022        Houston Rockets

In [54]:
teams.head()

    W   L  W/L%    GB   PS/G   PA/G    SRS  Year                 Team
0  56  26  .683     —  111.5  105.7   5.22  1991      Boston Celtics*
1  44  38  .537  12.0  105.4  105.6  -0.39  1991  Philadelphia 76ers*
2  39  43  .476  17.0  103.1  103.3  -0.43  1991     New York Knicks*
3  30  52  .366  26.0  101.4  106.4  -4.84  1991   Washington Bullets
4  26  56  .317  30.0  102.9  107.5  -4.53  1991      New Jersey Nets

In [55]:
teams.to_csv('teams.csv')